Component({
  properties: {
    // #names#
    name: {
      type: String,
    },
    // #type#
    type: {
      type: String,
      value: 'qweather',
    }
    size: {
      type: Number,
      value: #size#,
    },
  },
});
